.hero {
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
}

.split {
  width: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(24px, 1.2vw, 2vw)
}

.projects {
  font-size: clamp(24px, 1.2vw, 2vw);
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.imageWrapper {
  max-width: 350px;
}